@font-face {
	font-family: "goyang";
	src: url("/src/assets/font/Goyang.otf");
}

.detail {
	width: 100%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	font-family: goyang;
}

.detail__content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	gap: 20px;
	box-sizing: border-box;
	margin-top: 200px;
	
}

.detail__content__img {
	flex: 1;
	max-width: 460px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detail__content__img img {
	width: 460px;
	height: 460px;
	max-height: 460px;
	border-radius: 10%;
}

.detail__content__info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	padding: 40px;
	padding-top: 0;
}

.detail__content__info__header {
	width: 100%;
	font-size: 20px;
	text-align: center;
	margin-bottom: 60px;
}

.detail__content__info__text {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 24px;
	line-height: 2;
}

.detail__footer {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 24px;
}
