@font-face {
	font-family: "goyang";
	src: url("/src/assets/font/Goyang.otf");
}

.animal-card {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.animal-card img {
	width: 240px;
	height: 240px;
	border-radius: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animal-card img:hover {
	transform: scale(1.04); /* 이미지 크기를 10% 키우기 */
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* 이미지에 그림자 추가 */
  }

.age-sex {
	font-family: goyang;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.care-name {
	font-family: goyang;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}