@font-face {
	font-family: "goyang";
	src: url("/src/assets/font/Goyang.otf");
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: goyang;
	background-color: #fef9f2;
  }
  
.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

.nav-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-right: 40px;
  }

.nav-button {
	font-family: goyang;
}