@font-face {
	font-family: "goyang";
	src: url("/src/assets/font/Goyang.otf");
}

.story {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: goyang;
}

.story__header {
	margin-top: 140px;
	font-size: 40px;
	margin-bottom: 60px;
}

.story__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-size: 20px;
}

.story__content img {
	width: 340px;
	height: 340px;
	border-radius: 10px;
}

.story__content__intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-left: 40px;
	padding-right: 80px;
}

.story__content__intro--text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	line-height: 30px;
}

